#home {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://mobimg.b-cdn.net/v3/fetch/53/535df602ff8516fbb159c6214bb554d8.jpeg?w=1470&r=0.5625');
    background-repeat: no-repeat;
    background-color: skyblue;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#Sexy {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://i.pinimg.com/originals/20/98/4f/20984fb2afaed2c4fa2781574f92b0f9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
}

#Evil {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://img2.joyreactor.cc/pics/post/Re-Zero-Kara-Hajimeru-Isekai-Seikatsu-Anime-Rem-%28re-zero%29-hanayome-3349167.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
    display: inline-flex;
    flex-direction: row;
}

#Cute {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://i.pinimg.com/originals/1f/d5/57/1fd55792f2a53656719a03b104e6fad9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
}

#Hentai {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://images.scrolller.com/yocto/god-damn-rem-re-zero-97ptayaz28-608x1080.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
}

h1 {
    text-align: center;
    opacity: 0.8;
}

h2 {
    color: #FF1493;
}

#CuteRem1 {
    height: 200px;
    width: 250px;
}

#CuteRem2 {
    height: 200px;
    width: 300px;
}

#CuteRem3 {
    height: 200px;
    width: 150px;
}

#CuteRem4 {
    height: 200px;
    width: 200px;
}

img {
    height: 200px;
    opacity: 0.95;
    border: 1px solid black;
    margin: 5px;
}

#div1 {
    padding: 10px;
    margin: 10px;
}

#EvilRem1 {
    height: 200px;

}

#EvilRem2 {
    height: 200px;
    
}

#EvilRem3 {
    height: 200px;
    
}

#EvilRem4 {
    height: 200px;
    
}

li {
    color: #FF1493;
    font-weight: 1000;
}

#div2 {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.center {
    text-align: center;
}

li {
    list-style: none;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

#main > * {
    justify-content: center;
}

@media (max-width: 430px) {
    #home {
        background-image: url('./assets/images/CuteRem3.jpg');
    }
}
