#home {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://mobimg.b-cdn.net/v3/fetch/53/535df602ff8516fbb159c6214bb554d8.jpeg?w=1470&r=0.5625');
    background-repeat: no-repeat;
    background-color: skyblue;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#Sexy {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://img.goodfon.ru/original/3072x1920/6/e2/anime-girl-sexy-blue-hair-short-hair-blue-eyes-rem-re-zero-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
    background-attachment: fixed;
}

#Sexy > div {
    display: flex;
    flex-wrap: wrap;
}

#Evil {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://i.ytimg.com/vi/bOTMmVqz_y4/maxresdefault.jpg');
}

#Cute {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/011/256/308/large/nithya-kalyan-rem-watermarked-4.jpg?1528642462');
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    display: flex;
    justify-content: center;
    color: #FF1493;
    text-align: center;
}

.hover:hover {
    color: blue;
    text-decoration: none;
}

.hover {
    color: #FF1493;
    text-decoration: none;
}

#Hentai {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-image: url('https://img10.reactor.cc/pics/post/Rem-%28re-zero%29-Re-Zero-Kara-Hajimeru-Isekai-Seikatsu-Anime-Anime-Ero-6106112.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-position: center;
    background-attachment: fixed;
}

#Hentai > div {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    opacity: 0.8;
}

h2 {
    color: #FF1493;
}

#CuteRem1 {
    height: 200px;
    width: 250px;
}

#CuteRem2 {
    height: 200px;
    width: 300px;
}

#CuteRem3 {
    height: 200px;
    width: 150px;
}

#CuteRem4 {
    height: 200px;
    width: 200px;
}

img {
    height: 200px;
    opacity: 0.95;
    border: 1px solid black;
    margin: 5px;
}

#div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

li {
    color: #FF1493;
    font-weight: 1000;
}

#div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.center {
    text-align: center;
}

li {
    list-style: none;
}

.color {
    color: #FF1493;
    border: 2px solid #FF69B4;
    border-radius: 10px;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

#main > * {
    justify-content: center;
}

@media (max-width: 430px) {
    #home {
        background-image: url('./assets/images/CuteRem3.jpg');
    }

    #main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    #Cute {
        background-image: url(//w.wallha.com/ws/14/sZnINxqR.jpg);
    }

    #Evil {
        background-image: url('./assets/images/EvilRem1.jpeg');
    }

    #Sexy {
        background-image: url('https://i.pinimg.com/originals/20/98/4f/20984fb2afaed2c4fa2781574f92b0f9.jpg');
    }

    #Hentai {
        background-image: url('https://images.scrolller.com/yocto/god-damn-rem-re-zero-97ptayaz28-608x1080.webp');
    }
}
